{% extends 'adminbase.html' %}

{% block contents %}
<div>

       <!-- <h3>welcome to adminpage.</h3>-->
    <h2 style="color:red">Naïve Bayes-ALGORITHAM</h2>
            <p>
           .  <center><table border="1px" style="color:black">
                                    <tr><td></td><td>{{len0}}</td><td>{{len1}}</td><td>{{len2}}</td><td>{{len3}}</td></tr>
                                      <tr><td>{{len4}}</td><td>{{len5}}</td><td>{{len6}}</td><td>{{len7}}</td><td>{{len8}}</td></tr>
                                      <tr><td>{{len9}}</td><td>{{len10}}</td><td>{{len11}}</td><td>{{len12}}</td><td>{{len13}}</td></tr>
                                      <tr><td>{{len14}}</td><td>{{len15}}</td><td>{{len16}}</td><td>{{len17}}</td><td>{{len18}}</td></tr>
                                      <tr><td>{{len19}}</td><td></td><td></td><td>{{len20}}</td><td>{{len21}}</td></tr>
                                      <tr><td>{{len22}}&nbsp{{len23}}</td><td>{{len24}}</td><td>{{len25}}</td><td>{{len26}}</td><td>{{len27}}</td></tr>
                                      <tr><td>{{len28}}&nbsp{{len29}}</td><td>{{len30}}</td><td>{{len31}}</td><td>{{len32}}</td><td>{{len33}}</td></tr>
                                  </table></center>

</div>
    {% endblock %}

